<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.yovendosaldo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Ubicaciones en tiempo real -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- LiveChat -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- ONE SIGNAL -->
    <uses-permission
        android:name="com.sec.android.provider.badge.permission.READ"
        tools:node="remove" />
    <uses-permission
        android:name="com.sec.android.provider.badge.permission.WRITE"
        tools:node="remove" />
    <uses-permission
        android:name="com.htc.launcher.permission.READ_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"
        tools:node="remove" />
    <uses-permission
        android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.anddoes.launcher.permission.UPDATE_COUNT"
        tools:node="remove" />
    <uses-permission
        android:name="com.majeur.launcher.permission.UPDATE_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.huawei.android.launcher.permission.READ_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"
        tools:node="remove" />

    <!-- Google Play Services Version -->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.globalpaysolutions.yovendosaldo.permission.C2D_MESSAGE" />

    <!-- Required for Big Pictures Notificsations -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <permission
        android:name="com.globalpaysolutions.yovendorecarga.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name="com.globalpaysolutions.yovendorecarga.core.YoVendoRecargaApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- Activities -->
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.Configuracion"
            android:label="@string/title_activity_config"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.Perfil"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.InfoGeneral"
            android:label="@string/title_activity_infor"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.ManejoPIN"
            android:label="@string/title_activity_infor"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Configuracion"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.PIN"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.ManejoPIN"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.Notificaciones"
            android:label="@string/title_activity_notificaciones"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.HistorialVentas"
            android:label="@string/title_activity_sales_history"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.DepositoBancario"
            android:label="@string/title_activity_deposito_bancario"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="com.globalpaysolutions.yovendorecarga.DetalleNotificacion"
            android:launchMode="singleTop"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Notificaciones"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.livechatinc.inappchat.ChatWindowActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.globalpaysolutions.yovendorecarga.Home"
            android:screenOrientation="portrait"></activity>

        <!--             FACEBOOK -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2274157712808522"
            android:exported="true" />

        <!-- ONE SIGNAL -->
        <meta-data
            android:name="com.onesignal.BadgeCount"
            android:value="DISABLE" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service
            android:name="com.globalpaysolutions.yovendorecarga.customs.onesignal.NotificationExtender"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <activity android:name="com.globalpaysolutions.yovendorecarga.EstadoCuenta"></activity>
    </application>

</manifest>